# Build output
[Bb]in/
[Oo]bj/

# Visual Studio / Rider / VS Code
.vs/
.vscode/
.idea/
_ReSharper*/
*.user
*.suo
*.userosscache
*.DotSettings.user

# NuGet
*.nupkg
.nuget/

# MSBuild / diagnostics
*.binlog

# OS
Thumbs.db
ehthumbs.db
.DS_Store
